
@{
    ViewBag.Title = "About";
}

<h2>About </h2>
<p>Fusce et laoreet elit. Integer augue tortor, interdum nec sollicitudin et, posuere a nisi. Aenean venenatis et est ut aliquet. Praesent tristique elementum mollis. In tincidunt rutrum scelerisque. Phasellus tincidunt imperdiet vulputate. Nullam sagittis, enim a mattis venenatis, nulla magna tempor justo, et vulputate augue turpis sit amet urna. Cras molestie neque at ligula varius, tincidunt volutpat lorem volutpat. Etiam maximus, erat ut vestibulum maximus, orci dolor feugiat sem, nec sollicitudin eros nunc at ante. Fusce eu tortor at nisl vehicula rhoncus. Donec augue lectus, rutrum et velit non, luctus mattis est. Curabitur a commodo urna. Morbi porttitor lectus erat, vitae rutrum ipsum porttitor sed. Aenean sollicitudin sodales erat sit amet aliquam. Pellentesque placerat mi venenatis, fringilla lorem ac, gravida urna.</p>

