
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non erat vel elit pharetra commodo et ut ex. Fusce a dolor vel diam blandit imperdiet. Mauris aliquet magna mi, quis convallis felis laoreet non. Duis gravida luctus faucibus. Donec dictum ipsum vitae erat feugiat, in accumsan ligula tempus. Praesent finibus, diam vel pharetra condimentum, nunc nisl facilisis eros, porttitor ultrices nulla justo eget dui. Fusce vitae pellentesque elit.
</p>
